{% extends 'base.html' %}

{% block content %}
<div class="container">
	
    <br><br>
    <p><a style="text-decoration:none;color:black;" href="/">Home</a> &nbsp; / &nbsp; <a style="text-decoration:none;color:black;" href="/automation_devops">Automation DevOps</a> &nbsp; / &nbsp; <a href="/automation_devops/{{environment}}" style="text-decoration:none;color:black;">{{environment}}</a></p>
    <div class="row" style="float:right">
		<div class="col-sm-12">
			<a href="/automation_devops/{{environment}}/add_track" class="btn btn-primary" style="float:right;" role="button" >Add Track</a>
		</div>
	</div>
    <br><br>

    <div class="row">

        {% for track in tracks %}
            <div class="col-sm-4">

            <div class="panel panel-default">
                    <div class="panel-heading"><b>Track - {{track.track_name}}</b></div>
                        <div class="panel-body">
                        <p class="card-text">Using this feature you can create, modify and execute pipelines of {{track.track_name}}<br></p>
                        <a href="/automation_devops/{{environment}}/{{track.track_name}}" class="btn btn-primary" style="float:right">Click Here  &nbsp; <i class="fa fa-arrow-circle-right" style="font-size:20px;"></i></a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}