{% extends 'base.html' %}

{% block content %}
<div class="container">
	
    <br><br><br>
	<div class="row">

        <div class="col-sm-6">

           <div class="panel panel-default">
                <div class="panel-heading"><b>Automation DevOps</b></div>
                    <div class="panel-body">
                    <p class="card-text">Using this feature you can create, modify and execute pipelines.<br></p>
                    <a href="/automation_devops" class="btn btn-primary" style="float:right">Click Here  &nbsp; <i class="fa fa-arrow-circle-right" style="font-size:20px;"></i></a>
                      
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading"><b>Access Management</b></div>
                    <div class="panel-body">
                    <p class="card-text">Using this feature you can get add/remove users and can manage access level of users<br></p>
                    <a href="/accounts" class="btn btn-primary" style="float:right">Click Here  &nbsp; <i class="fa fa-arrow-circle-right" style="font-size:20px;"></i></a>
                      
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading"><b>Automation Reports</b></div>
                    <div class="panel-body">
                    <p class="card-text">Using this feature you can get report of automations and the number of times it has been executed during a selected time period<br></p>
                    <a href="/reports" class="btn btn-primary" style="float:right">Click Here  &nbsp; <i class="fa fa-arrow-circle-right" style="font-size:20px;"></i></a>
                      
                </div>
            </div>
        </div>
      
    </div>
</div>

{% endblock %}